__pycache__/
.vscode/
.ipynb_checkpoints/
env_api/data/dataset/
env_api/data/copy/
test/
*.txt
*.sh
*.ipynb
*.pkl
datasets/
config/config.yaml
.venv
experiment_dir/*
checkpoints
lstm-ppo-policy
server_address
workspace